@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "PT Sans", serif;

}

body {
    height: 100vh;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    min-height: 3.75rem;
    max-width: 95%;
    margin: 1.6rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    height: 2rem;
}

.navbar .links {
    display: flex;
    gap: 3rem;
    font-size: 1.3rem;
    text-decoration: none;
    justify-content: space-between;
    list-style-type: none;
}

.navbar .links a {
    text-decoration: none;
    padding: 8px 15px;
    transition: 0.5s;
    border-radius: 20px;
}

.navbar .links a:visited {
    color: black;
    text-decoration: none;
}

.navbar .links a:hover {
    background-color: rgba(193, 193, 193, 0.937);
    padding: 8px 15px;
    border-radius: 20px;
}

.navbar .select {

    background-color: rgba(193, 193, 193, 0.937);
    padding: 8px 15px;
    border-radius: 20px;


}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.btn {
    border: none;
    outline: none;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}

.btn:visited {
    color: black;
}

.main-title {
    margin-top: 4rem;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-title h1 {
    font-size: 4.5rem;
}

.main-title h3 {
    font-size: 1.6rem;
    color: rgb(113, 113, 113)
}